<div class="container-fluid mt-3">
    <div class="row">
        <div class="offset-8 col-4">
            <div class="background-dark d-flex flex-column px-3 py-3">
                <p class="text-white">Podkarpackie</p>
                <p class="text-cases">134 cases</p>
                <p class="text-deaths">3 deaths</p>
                <p class="text-recovered">5 recovered</p>
                <button class="py-2">Lockdown: <span class="state">ON</span></button>
            </div>
        </div>
    </div>
</div>