<nav class="container-fluid">
    <div class="row mt-3 d-flex align-items-center">

        <div class="col-1"></div>

        <div class="col-3">
            <div class="background-dark d-flex justify-content-between align-items-center px-3 py-1">
                <span class="icon">$</span>
                <span class="value">100.000</span>
            </div>
        </div>

        <div class="col-4">
            <div class="background-primary d-flex justify-content-between align-items-center px-3 py-2">
                <img src="assets/img/virus.png" alt="virus">
                <span class="value">1035 cases</span>
            </div>
        </div>

        <div class="col-3">
            <div class="background-dark d-flex justify-content-between align-items-center px-3 py-1">
                <img src="assets/img/Vector.png" height="20" alt="info">
                <span class="value">30%</span>
            </div>
        </div>
        
        <div class="col-1">
            <div class="d-flex justify-content-center align-items-center px-3 py-1">
                <img src="assets/img/settings.png" height="20" alt="settings">
            </div>
        </div>
    </div>
</nav>